* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color $transition-time;
  &:hover {
    color: $link-hover-color;
  }
}

%wrapper {
  max-width: $content-width;
}