@charset "utf-8";

// Defaults variables

$heading-font-family: 'sackers', serif !default;
$heading-font-size:    64px !default;
$heading-font-weight:  900 !default;
$heading-line-height:  1.35 !default;

$base-font-family:     'akkurat', !default;
$base-font-size:       1rem !default;
$base-font-weight:     400 !default;
$base-line-height:     1.75 !default;

$accent-font-family:   'notera', !default;
$accent-font-size:     0.9rem !default;
$accent-font-weight:   400 !default;
$accent-line-height:   1.75 !default;

$bg-color:           #231F20 !default;
$secondary-color:    #E75130 !default;
$main-color:         #FFF0D9 !default;

// Page Width
$content-width:       1100px !default;

// Media Query
$large-screen:        962px !default;

// Transition Duration
$transition-time:     0.25s;

@mixin media-query {
  @media screen and (min-width: $large-screen) {
    @content;
  }
}

// Imports
@import
  "normalize",
  "base",
  "unique-styles",
  "components/container",
  "components/c-nav"
;
