<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="body">

    <div class="container">

        {% include header.html %}

        <img class="vax-logo-main" src="./assets/vax-logo-main.svg" alt="vax logo">

        <a class="main-rsvp" href="">RSVP</a>

        <p class="main-text" >July 31 to August 3</p>

        <img class="voxmedia-logo" src="./assets/voxmedia-logo.svg" alt="vox logo">

        <main class="c-body" aria-label="Content">
          <div class="body-container">
            {{ content }}
          </div>
        </main>

        {% include footer.html %}

    </div>
    <script src="{{ "/js/main.js" | relative_url }}"></script>
  </body>

</html>
